<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="Telosys Tools Editor"
            extensions="entity"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.telosys.tools.eclipse.plugin.editors.dsl.entityeditor.EntityEditor"
            id="org.telosys.tools.eclipse.plugin.editors.EntityEditor">
      </editor>
   </extension>

</plugin>
